*{
    box-sizing: border-box;
}
body{
    background-color: black;
}
.conteiner{
    background-color: rgb(47, 152, 226);
    border: 5px solid red;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    /*flex-flow: ;*/
    /*height: 50vh;*/
   /* justify-content: center;*/
    /*align-items: flex-start;*/
    /*align-content: center;*/
}
.item{
    background-color: rgb(142, 226, 47);
    border: 1px solid blue;
    text-align: center;
    padding: 5px;
    /*flex: 1;*/
    /*width: 200px;*/
    /*width: calc(100%/3);*/
    flex-basis: 300px;
   flex-grow: 1;
}
/*
.item1{
    flex-grow: 1;
    flex-shrink: 1;
    /*margin-right:auto ;
}
*/
  
/*
.item2{
   /* order: -1;
   flex-grow: 5;
   flex-shrink: 5;
}
*/
/*
.item4{
    order: 2;
}
.item7{
    order: 1;
}
*/