*{
    box-sizing: border-box;
}
body{
    background-color: black;
    color: #f4f0f0;
    font-size: 55px;
    font-family: 'Fira-Sans', sans-serif;
}
.conteiner{
    border: 10px solid red;
    display: flex;
    /*flex-direction: column;*/
  /* flex-wrap: wrap;*//*
   /* flex-flow: row wrap;====заменяет flex-direction т flex-wrap*/
   /* height: 100vh;*/
   /* justify-content: right;
    align-content: center;*/
    /*align-items: flex-start;*/
}
.item{
    border: yellow;
    border: 1px solid green;
    padding: 10px;
    text-align: center;
   /*width: calc(100%/3);*/
   flex-basis: 300px;
  
}
.item1{
    flex-grow: 1;
    flex-basis: 300px;
    flex-shrink: 1;
}
.item2{
    flex-grow: 5;
    flex-basis: 100px;
    flex-shrink: 5;
    }
    
}

/*
.item{
    flex: 1;
    /*margin-right: auto;*/
}
.item3{
    flex: 20;
    /*margin-right: auto;*/
}
*/
/*
.item2{
    align-self: center;
}*/
/*
.item4{
    order: 2;
}

.item7{
    order: 1;
}

.item9{
    order: -1;
}
*/